# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/.idea/
/spring-security-basic/target/
/spring-security-basic/spring-security-basic.iml
/spring-security-jdbc/target/
/spring-security-jdbc/spring-security-jdbc.iml
/spring-security-jpa/target/
/spring-security-jpa/spring-security-jpa.iml
/spring-security-jwt/target/
/spring-security-jwt/spring-security-jwt.iml
/spring-security-ldap/target/
/spring-security-ldap/spring-security-ldap.iml

